<form action='/update' method='post'>
  <a target="_blank" href="/">排期表</a>
  <br/>
  <input type='submit' value='更新'/>
  <br/>
  <textarea style='width:900px;height:1500px;' name='data'><%= @data %></textarea>
  <br/>
  <input type='submit' value='更新'/>
</form>
