<!DOCTYPE html>
<html>
<head>
<title>排期</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
</head>
<body>
<span class="label"><a href="/">全部</a></span>
<span class="label"><a href="/?d=ued">UED</a></span>
<span class="label"><a href="/?d=ruby">Ruby</a></span>
<span class="label"><a href="/?d=test">Test</a></span>
<span class="label"><a href="/?d=lbs">LBS</a></span>
<span class="label"><a href="/?d=yunwei">运维</a></span>
<span class="label"><a href="/?d=cdjava">成都Java</a></span>
<span class="label"><a href="/?d=cdruby">成都Ruby</a></span>
<%= yield %>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
</body>
</html>
